<!--
    Title: footer.ejs
    Author: Kailee Stephens
    Date: 07/08/2022
    Description: Partial footer for all html pages 
-->

<footer class="site-footer">
  <div class="container-footer">
    <div class="row-footer">
      <div class="col-md-6">
        <p class="copyright-text">Copyright &copy; 2022 Kailee Stephens 
        </p>
      </div>

      <div class="col-md-6">
        <ul class="links">
          <li><a class="Home" href="/">HOME</a></li>
          <li><a class="Boarding" href="boarding">BOARDING</a></li>
          <li><a class="Grooming" href="grooming">GROOMING</a></li>
          <li><a class="Training" href="training">TRAINING</a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
