<!--
    Title: footer.ejs
    Author: Kailee Stephens
    Date: 07/08/2022
    Description: Partial footer for all html pages 
-->

<footer>
    <div class="copy">&copy; Kailee Stephens</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
    </div>
</footer>
