<!-- 
Title: Assignment 5.2
Author: Kailee Stephens
Date: 8 July 2022
Description: Pets-R-Us header.ejs partial 
-->


    <div class="navbar">
        <a href="/">Home</a>
        <a href="boarding.ejs">Boarding</a>
        <a href="grooming.ejs">Grooming</a>
        <a href="\training.ejs">Training</a>
        <div class="dropdown">
          <button class="dropbtn">My Account
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <%if(!currentUser){%>

                <a styling="font-size: 20px;padding: 18px 16px;" href="register">Register</a>
                <a styling="font-size: 20px;padding: 18px 16px;" href="login">Login</a>

                <%}else{%>
                    <a styling="font-size: 20px;padding: 18px 16px;" href="profile">Profile</a>                  
                    <a styling="font-size: 20px;padding: 18px 16px;" href="schedule">Schedule</a>
                    <a styling="font-size: 20px;padding: 18px 16px;" href="logout">Logout</a>
                    <%}%>
          </div>
        </div> 
      </div>
    </navbar>
