<!-- 
Title: Assignment 5.2
Author: Kailee Stephens
Date: 8 July 2022
Description: Pets-R-Us header.html partial 
-->


<header>

    <div class="wrap">
        <ul class= "logo">
            <li><a href="/">Pets-R-Us</a></li>
        </ul> 
    </div>

</header>