<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description"
        content="index.html" />
    
    <link rel="stylesheet" href="/site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500&display=swap" rel="stylesheet">       

    <title>Pets-R-Us</title>
    
</head>


<body>
    <div class="wrap">
        <ul class= "navbar">
            <li><a href="grooming.html">Grooming</a></li> 
            <li><a href="">Training</a></li>
            <li><a href="">Boarding</a></li> 
            <li><a href="">About</a></li> 
            <li><a href="">Appointments</a></li> 
        </ul>
    </div>
        <div class="bg-image img1"></div>
        
    <style>
        footer {
            position:fixed;
            width:100%;
            left:0;
            bottom:0;
            background-color:#041F1E;
            color:white;
            text-align:center;
        }
    </style>
    <footer>
        <p>Author: Kailee Stephens</p>
    </footer>
</body>

</html>
