<!--
  Title: Pets-R-Us Landing Page
  Author: Kailee Stephens
  Date: 06/28/2022
  Description: index.html landing page for Pets-R-Us
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description"
        content="index.html" />
    
    <link rel="stylesheet" href="styles/site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500&display=swap" rel="stylesheet">       

    <title>Pets-R-Us</title>
    
</head>
 

<body>
    <header><%- include('./partials/header')%></header>
    <div class="content">
        <div class="navbar">
            <a href="/">Home</a>
            <a href="boarding">Boarding</a>
            <a href="grooming">Grooming</a>
            <a href="training">Training</a>
            <div class="dropdown">
              <button class="dropbtn">My Account
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a style="font-size: 20px;    padding: 18px 16px;" href="registration">Register</a>
                <a style="font-size: 20px" href="login">Log In</a>
              </div>
            </div> 
          </div>
        <div class="intro">
            <h1>Pets-R-Us</h1>
            <p>Training can be tough, let us help! Choose from one of our many training courses for dogs of all ages.</p>
        </div>
        <section class="DOTW">
            <div style="margin-left:20px;">
                <h2 style="font-size:50px;">Dog of the Week</h2>
            </div>

            <div class="grid">
                    <img src="/public/images/img_olive.jpg" alt="Olive, Dog of the Week" style="width:40%; margin-left: 80px;margin-right:200px;">
                    

                
                <div class="column">
                    <div class="home-card2">
                        <p style="font-size:35px;"><strong>About Olive</strong></p>
 
                        <div class="p-style">
                                <p><strong>Age:</strong> 12 weeks</p>
                                    <p><strong>Favorite activity:</strong> Biting your toes</p>
                                    <p><strong>Friends:</strong> Justin, Austin, and the old man next door</p>
                                    <p><strong>Most lovable quality:</strong> Her sweet, loving, brown eyes</p>
                        </div> 
                    </div>  
                </div> 
            </div>        
        </section><br>
        <hr class="rounded"> </br> 

<br><br>
        <section class="company-info">
            <h3 class="title">Company Info:</h3>
            <p>
                Pets-R-Us is a self-started company that was created 10 years ago to groom dogs. Since then, the company has grown to serve all pets in multiple areas such as grooming, boarding, training, and more. We specialize in helping all animal personalities and make any accommodations necessary so that we do not have to turn away any pets. 
            </p><br>
        </section>

            <div class="row">
                <div class="column1" style="background-color:#aaa;">
                  <div class="card-hours">
                              <div class="card-title">
                                  <h4>LOCATION HOURS</h4>
                              </div>
                              <div class="card-content">
                                  <ul>
                                      <li class="p-10">Mon    7:00 AM - 7:00 PM</li>
                                      <li class="p-10">Tues   7:00 AM - 7:00 PM</li>
                                      <li class="p-10">Wed    7:00 AM - 7:00 PM</li>
                                      <li class="p-10">Thurs  7:00 AM - 7:00 PM</li>
                                      <li class="p-10">Fri    7:00 AM - 7:00 PM</li>
                                      <li class="p-10">Sat    9:00 AM - 5:00 PM</li>
                                      <li class="p-10">Sun    9:00 AM - 5:00 PM</li>
                                  </ul>
                              </div>
                          </div>
                </div>
                <div class="column2" style="background-color:#bbb;">
                  <h3 class="title">Store Locations</h3>
                          <p>
                          Currently we have two locations in Omaha, NE but are in the process of expanding to other locations across the midwest. As we continue to grow, we will always be willing to serve you and your pet with open arms!
                          </p>
                        <ul class="grid2">
                            <li>
                                <h4>Elkhorn</h4>
                                <p>1234 S 204th St; Elkhorn, NE 68022</p>

                                <h4>Omaha</h4>
                                <p>56013 Mater Rd; Omaha, NE 68111</p>
                            </li>
                        </ul>
                </div>
              </div>
            </br> </br> </br> 
            


        <section class="testimonials" >
            <div class="customer-block" style="padding-left: 20px; width:100%;">
                <h2 class="title">Customer Testimonials</h2>
                
                <div class="container" >
                    <p><span><strong>Alexandrea Davis</strong></span> Dog Mom</p>
                    <p>No one has groomed and taken the time to work with my dog better than the groomers at Pets-R-Us! They always make sure that she doesn't get too stressed during her groom and she always leaves with a beautiful bandana.</p>
                </div>
                <div class="container">
                    <p><span><strong>Monty Harris</strong></span> Loyal Customer</p>
                    <p>I have been taking all of my pets to this location for 5 years and will never take them anywhere else. I am very critical of who I allow to care for my pets. That being said, I HIGHLY recommend Pets-R-Us! They will treat your pets as if they were their own and go above and beyond compared to any other pet store that I have been to in the past. The peace of mind I get from knowing my pets are well cared for is priceless! </p>
                </div>
            </div>
        </section>
        
        <hr class="rounded">  </br> 

        <section class="contact">
            <h1>Contact Us</h1>
            <h3> We would love to hear from you!</h3>
            <form class="cf">
            <div class="half left cf" >
                <input class="input" type="text" id="input-name" placeholder="Name">
                <input class="input" type="email" id="input-email" placeholder="Email address">
                <input class="input" type="text" id="input-subject" placeholder="Subject">
            </div>
            <div class="half right cf">
                <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
            </div>  
            <input class="input" type="submit" value="Submit" id="input-submit">
            </form></br>
        </section>
    </div>  
    <footer class="footer"><%- include('./partials/footer'); %></footer>
</body>
