<!--
  Title: Pets-R-Us Registration Page
  Author: Kailee Stephens
  Date: 07/15/2022
  Description: html registration page for Pets-R-Us
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Registration Page"
        content="registration.html" />
    
    <link rel="stylesheet" href="styles/site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500&display=swap" rel="stylesheet">       

    <title>Pets-R-Us</title>
    
</head>

<body>
    <%- include('./partials/header')%>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="boarding">Boarding</a>
        <a href="grooming">Grooming</a>
        <a href="training">Training</a>
        <div class="dropdown">
          <button class="dropbtn">My Account
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a style="font-size: 20px;    padding: 18px 16px;" href="registration">Register</a>
            <a style="font-size: 20px" href="login">Log In</a>
          </div>
        </div> 
      </div>
    <section>
        <div class="intro">
            <h1>Register</h1>
            <p>Create an account with us and join the Pets-R-Us Clan!</p>
        </div>
        <h3 class="reg-title">Registration Form</h3>
        <hr class="rounded">  

        <div class="card-reg">
            <div class="card-content">
                <div class="form">
                    <form action="/register" method="post">
                        <br>
                        <div class="form-field">
                            
                            <input class="input-reg" type="text" name="username" id="username" required="" autofocus="" placeholder="Username">
                        </div>
    
                        <div class="form-field">
                           
                            <input class="input-reg" type="password" name="password" id="password" required="" placeholder="Password">
                        </div>
    
                        <div class="form-field">
                          
                            <input class="input-reg" type="email" name="email" id="email" placeholder="Email">
                        </div>
    
                        <div class="form-field">
                            <input class="input-reg" type="submit" value="Sign up" class="btn btn-primary full-width">
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3 class="user-title">Active Users</h3>
        <hr class="rounded">  
        <div class="card">
            <div class="card-content" style="margin: 30px;">
                <table class="table table-bordered">
                    <tbody><tr>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                    </tbody><tbody>
                    
                    <tr>
                        <td>
                            testuser
                        </td>
                        <td>
                            testuser@me.com
                        </td>
                    </tr>
                    </tbody>
                    
                    <tbody><tr>
                        <td>
                            testuser01
                        </td>
                        <td>
                            testuser01@me.com
                        </td>
                    </tr>
                    </tbody>
                    
                    <tbody><tr>
                        <td>
                            testuser02
                        </td>
                        <td>
                            testuser02@me.com
                        </td>
                    </tr>
                    </tbody>
                    
                    <tbody><tr>
                        <td>
                            testuser03
                        </td>
                        <td>
                            testuser03@me.com
                        </td>
                    </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </section>
    <footer class="footer"><%- include('./partials/footer'); %> </footer>
    