<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Training Page"
        content="training.html" />
    
    <link rel="stylesheet" href="site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500&display=swap" rel="stylesheet">       

    <title>Pets-R-Us</title>
    
</head>

<body>
    <div class="wrap">
        <ul class= "nav-menu">
            <li><a href="grooming.html">Grooming</a></li>
            <li><a href="training.html">Training</a></li> 
            <li><a href="boarding.html">Boarding</a></li>
        </ul>
        <ul class= "logo">
            <li><a href="index.html">Pets-R-Us</a></li>
        </ul> 
    </div>